
*{
    margin: 0;
    padding:0;
}
body{
    width:100%;
    height: 1240px;
    background: linear-gradient(90deg, #334D50 0%, #CBCAA5 100%);
}
.header{
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 365px 1fr 260px;
    background: rgba(51, 77, 80, 0.2);
}
.header_col{
    grid-column: 1/2;
    background: rgba(51, 77, 80, 0.2);
}
.imglo{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
}
.header1{
    position: relative;
    grid-row: 1/2;
    grid-column:2/3 ;
    width:100%;
    height: 85px;
    background: rgba(51, 77, 80, 0.2);
}

ul {
   
    list-style-type: none;
    margin:auto;
    padding: 0;
    overflow: hidden;
    background: rgba(51, 77, 80, 0.4);
    /*: linear-gradient(90deg, #334D50 0%, #CBCAA5 100%);*/
}
  
.li {
    display: none;/*re condar que la navegacion debe empesar de sativada*/
    /*display:block;*/
    border: 0;
    padding: 5px 5px;
    float: right;
}
  

ul li a input{
    border: 0;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px 5px;
    border-radius:10px;
    cursor: pointer;
    background: rgba(51, 77, 80, 0.0);
}
li a input:hover{
    transform: scale(1.5);
    color: #000;
}

.vector{
    display: grid;
    position: absolute;
    width: 850px;
    height: 550px;
    left: 255px;
    top: 86px;
    background:url("../img/Vector1.svg");
    grid-template-columns: 50px 1fr 50px;

}
.header2{
    grid-column: 2/3;
    text-align: center;
}
.img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
}
.img:hover{
    transform: scale(1.5);
}
.suscripcion{
    width: 150px;
    height: 50px;
    background: linear-gradient(90deg, #334D50 0%, #CBCAA5 100%);
    color: #fff;
    font-size: 20px;
    border-radius:20px ;
    cursor: pointer;
}
.suscripcion:hover{
    transform: scale(1.5);
}

/*----------------  modal ------------------------- */

.modal{
    display:none;
    position: absolute;
    top:80px ;
    right:0px ;
    left:450px ;
    bottom:0px ;
    width: 550px;
    height: 300px;
    border: 5px solid #334D50;
    border-radius: 20px;
    background:#ffff;
    text-align: center;
    z-index: 99;
}
.v_v{
    width: 300px;
    height: 30px;
    margin: 10px;
}
.acep{
    width: 200px;
    height: 35px;
    margin: 10px; 
    border: 2px solid #334D50;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(90deg, #334D50 0%, #CBCAA5 100%);
    border-radius: 20px;
    cursor: pointer;
}
.acep:hover{
    transform: scale(1.5);
}
.sal:hover{
    transform: scale(1.5);
}
.img1{
    width: 15%;
    height: 30px;
}
/*----------------  modal 2 ------------------------- */

.modal2{
    display: none; 
    position: absolute;
    top:50px ;
    right:0px ;
    left:250px ;
    bottom:0px ;
    width: 940px;
    height: 150px;
    border: 2px solid #334D50;
    border-radius: 20px;
    background: #fff;
    margin:10px;
    padding: 20px;
    z-index: 99;
}

.p_a{
    font-size: 20px;
    text-decoration: none;
    float: left;
    margin:10px;

}

.p_a1{
    font-size: 20px;
    text-decoration: none;
    float: right;
    margin:10px;
   
}
.p_p{
    text-decoration: none;
}
.p_p1{
    text-decoration: none;
}
.p_a1:hover{
    transform: scale(1.2);
    color: #000;;
}
.p_a:hover{
    transform: scale(1.2);
    color: #000;;
}
/* -----------------   section   --------------------- */

.seccion{
    position: relative;
    top: 550px;
    display: grid;
    grid-template-columns: 305px 1fr 200px;
    
}

.seccion1{
   
    grid-column: 2/3;
    height: 600px;
    background:url("../img/Vector2.svg");
    background-repeat: no-repeat;
    padding: 20px;
}

.se_h2{
    text-align: center;
}
/* --------------------------  acerca de ------------------------*/
.mo_seccion1{
    width: 600px;
    height: 200px;
    margin: 40px;
    padding: 10px;
    box-shadow:15px 10px 10px #334D50;
}
.img_mo_se{
    width: 250px;
    margin: 5px;
    float: left;
}
.p{
    margin: 20px;
    padding: 10px;
    font-size: 18px;
}
/*---------------------------- modal 2 ------------------ */
.mo_seccion2{
    width: 600px;
    height: 200px;
    margin: 60px;
    padding: 10px;
    box-shadow:15px 10px 10px #334D50;
}
.img_mo_se{
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    width: 250px;
    margin: 5px;
    float: left;
}
.p{
    margin: 20px;
    padding: 10px;
    font-size: 18px;
}
/* --------------------------  acerca de parte 2------------------------*/

.seccion2{
    position: relative;
    top: 550px;
    display: grid;
    grid-template-columns: 260px 1fr 200px;
}

.seccion3{
    grid-column: 2/3;
    height: 600px;
    background:url("../img/Vector1.svg");
    background-repeat: no-repeat;
    padding: 10px;
}

.mo_seccion3{
    position: absolute;
    left: 387px;
    width: 300px;
    height: 550px;
    box-shadow:15px 10px 10px #334D50;
}

.mo_seccion4{
    position: absolute;
    left: 720px;
    width: 300px;
    height: 550px;
    box-shadow:15px 10px 10px #334D50;
}

.img_mo_se1{
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    /*overflow: hidden;*/
    width: 280px;
    height: 350px;
    margin: 5px;
    float: left;
}


.seccion4{
    position: relative;
    top: 550px;
    display: grid;
    grid-template-columns: 300px 1fr 200px;
}

.seccion5{
    display: grid;
    grid-column: 2/3;
    height: 600px;
    background:url("../img/Vector4_ventana.svg");
    background-repeat: no-repeat;
    margin: 5px;
    grid-template-rows:1fr 1fr;
}

.p1{
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
}

.logi{
    width: 150px;
    height: 50px;
    background: linear-gradient(90deg, #334D50 0%, #CBCAA5 100%);
    color: #fff;
    font-size: 20px;
    border-radius:20px ;
    cursor: pointer;
}

.logi:hover{
    transform: scale(1.5);
}

/*--------------------------------------- modal login ----------------------------------*/

.lo{
    display: none;
    position: absolute;
    top:80px ;
    right:0px ;
    left:450px ;
    bottom:0px ;
    width: 550px;
    height: 320px;
    border: 5px solid #334D50;
    border-radius: 20px;
    background:#ffff;
    text-align: center;
    z-index: 99;
}
.log{
    width: 200px;

}
.us{
    width: 400px;
    height: 30px;
    margin: 5px;
}
.bus{
    width: 200px;
    height: 35px;
    margin: 5px; 
    border: 2px solid #334D50;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(90deg, #334D50 0%, #CBCAA5 100%);
    border-radius: 20px;
    cursor: pointer;
}
.bus:hover{
    transform: scale(1.5);
}
/*------------------------------------------  ---------------------------------*/

.esh{
    text-align: center;
    color: #fff;
}
.porta1{
    grid-row: 1/2;
    position: absolute;
    display: grid;
    left: 340px;
    width: 640px;
    height: 250px;
    margin: 28px;
    padding: 10px;
    box-shadow:15px 10px 10px #fff;
    grid-template-columns: 1fr 1fr 1fr;
}
.imgfi{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
}
.porta2{
    grid-column: 1/2;
    margin-top: 0px;
}
.porta3{
    display: grid;
    position: absolute;
    top: 300px;
    left: 380px;
    width: 640px;
    height: 250px;
    margin: 25px;
    box-shadow:15px 10px 10px #fff;
    grid-template-columns: 1fr 1fr 1fr;
}

.pf{
    text-align: center;
    font-size: 17px;
}
.porta_c{
    grid-column: 2/3;
}
.imgfic{
    width: 100%;
    height: 250px;
}
.imgfic:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.porta_char{
    grid-column: 3/4;
}

.porta_l{
    grid-column: 1/2;
    margin: auto;
    margin-top: 0px;
}
.porta_java{
    grid-column: 2/3;
}
.porta_h{
    grid-column: 3/4;
}
/*----------------- seccion del block -------------------------------*/
.seccion_block{
    position: relative;
    top: 540px;
    display: grid;
    grid-template-columns: 260px 1fr 210px;
}

.seccion_bl{
    grid-column: 2/3;
    height: 600px;
    background:url("../img/vector_block.svg");
    background-repeat: no-repeat;
    margin: 5px;

}
/* ------------------------  footer ------------------------------------*/
.footer{
    position: relative;
    top: 550px;
    display: grid;
    grid-template-columns: 300px 1fr 210px;
}
.foot{
    grid-column: 2/3;
    height: 600px;
    background:url("../img/vector_footer.svg");
    background-repeat: no-repeat;
    margin: 5px;
}
